<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/> -->
    <meta name="description" content="Helps with Research!">
    <meta name="author" content="Julian Henry">
    <title>Research Helper</title>

    <link rel="stylesheet" href="/static/styles.css" />
  </head>

  <body id="body">
    <div id="header">
      <h1>Research Helper</h1>
    </div>
    <!-- <form action="http://localhost:5000/wiki" method = "post">
            <input type="submit" value="Click me" />
    </form> -->

    <button id="submit">Submit</button>

    <span id="info"></span>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/static/form.js"></script>

  </body>
</html>
